<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <h1>dummy users </h1>
  <form method="post" action ="/signup">
    <input type="text"  name = "email" placeholder="email">
    <input type="password"  name="password" placeholder="password">
    <input type="submit" value="signup">
  </form>

<div class="login">
  <form method="post" action="/login">
    <input type="text"  name = "email" placeholder="email">
    <input type="password"  name="password" placeholder="password">
    <input type="submit" value="login">
  </form>
</div>

<div class="shortener">
  <form method="post" action="/urls">
    <input type="text" name="long_url" placeholder="Input URL Here" required>
    <input type="submit" value="Convert!">
  </form>
<BR>

</div>
  <% @urls.each do |url| %>
  <% if url.user_id.nil? %>
    <li>
      <%= url.long_url%> is now <a href='<%= url.short_url%>'> <%= url.short_url %> </a>  click count is now <%= url.click_count %>
    </li>
    <% end %>
  <% end %>
</div>

<!-- <div class="container">
  <h1>Supreme URL Shortener </h1>
<div class="signup">
  <form method="post" action ="/signup">
    Sign Up:<BR>
    <input type="text"  name = "email" placeholder="email">
    <BR>
    <input type="password"  name="password" placeholder="password">
    <BR>
    <input type="submit" value="signup">
  </form>
</div>
<div class="login">
  <form method="post" action="/login">
    Log In:<BR>
    <input type="text"  name = "email" placeholder="email">
    <BR>
    <input type="password"  name="password" placeholder="password">
    <BR>
    <input type="submit" value="login">
  </form>
<BR>
</div>
<BR>
<div class="shortener">
  <form method="post" action="/urls">
    <input type="text" name="long_url" placeholder="Input URL Here" required size="66">
    <BR>
    <BR>
    <input type="submit" value="Convert!">
  </form>
</div>
<BR>
  <% @urls.each do |url| %>
  <% if url.user_id.nil? %>
    <li>
      <%= url.long_url%> is now <a href='<%= url.short_url%>'> <%= url.short_url %> </a>  click count is now <%= url.click_count %>
    </li>
    <% end %>
  <% end %>
</div>
 -->
