<h1>welcome to your secret page, <%= @user.email %></h1>
  <% if @urls %>
    <% @urls.each do |url| %>
      <li>
        <%= url.long_url%> is now <a href='/<%= url.short_url%>'> <%= url.short_url %> </a>  click count is now <%= url.click_count %>
      </li>
    <% end %>
<% end %>

<div class="shortener">
  <form method="post" action="/secret/<%=@user.id%>/urls"> 
    <input type="text" name="long_url" placeholder="Input URL Here" required>
    <input type="submit" value="Convert!">
  </form>

<form method="get" action="/logout">
  <input type="submit" value="logout" name="logout">
</form>

<!-- <div class="container">
  <h1>Welcome to your page, <%= @user.email %></h1>
  
  <BR>
  <form method="get" action="/logout">
    <input type="submit" value="logout" name="logout">
  </form>
  <BR>
  <div class="shortener">
    <form method="post" action="/secret/<%=@user.id%>/urls"> 
      <input type="text" name="long_url" placeholder="Input URL Here" required size="66">
      <input type="submit" value="Convert!">
    </form>
  </div>
</div>
 -->
